---
import GeometryShapesExample from "../../../components/examples/GeometryShapesExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Geometry - play.ts">
	<Header client:load currentPath={process.env.DEV !== "" ? "/play.ts/examples/basic/geometry" : "/examples/basic/geometry"} />
	<main class="min-h-screen bg-background">
		<GeometryShapesExample client:load />
	</main>
</Layout>