---
import MathOperationsExample from "../../../components/examples/MathOperationsExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Mathematical Functions Reference - play.ts">
	<Header client:load currentPath="/examples/basic/math" />
	<main class="min-h-screen bg-background">
		<MathOperationsExample client:load />
	</main>
</Layout>