---
import RandomGenerationExample from "../../../components/examples/RandomGenerationExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Random Generation - play.ts">
	<Header client:load currentPath="/examples/basic/random" />
	<main class="min-h-screen bg-background">
		<RandomGenerationExample client:load />
	</main>
</Layout>