---
import ConwayExample from "../../../components/examples/ConwayExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Conway Game of Life - play.ts">
	<Header client:load currentPath={process.env.DEV !== "" ? "/play.ts/examples/visual/conway" : "/examples/visual/conway"} />
	<main class="min-h-screen bg-background">
		<ConwayExample client:load />
	</main>
</Layout>