---
import GameOfLifeExample from "../../../components/examples/GameOfLifeExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Conway's Game of Life - play.ts">
	<Header client:load currentPath={process.env.DEV !== "" ? "/play.ts/examples/visual/game-of-life" : "/examples/visual/game-of-life"} />
	<main class="min-h-screen bg-background">
		<GameOfLifeExample client:load />
	</main>
</Layout>