---
import ParticleSystemExample from "../../../components/examples/ParticleSystemExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Particle Systems - play.ts">
	<Header client:load currentPath="/examples/visual/particles" />
	<main class="min-h-screen bg-background">
		<ParticleSystemExample client:load />
	</main>
</Layout>