---
import ControlSystemsExample from "../../../components/examples/ControlSystemsExample.tsx";
import Header from "../../../components/Header.tsx";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Control Systems - play.ts">
	<Header client:load currentPath={process.env.DEV !== "" ? "/play.ts/examples/engineering/control-systems" : "/examples/engineering/control-systems"} />
	<main class="min-h-screen bg-background">
		<ControlSystemsExample client:load />
	</main>
</Layout>